*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}
header{
    width: 100%;
    height: 6.5rem;
    background-color: red;
    display: flex;
    justify-content: space-between;
    padding: .5rem;
}
.header_logo img{
    width: 90px;
    margin-right: .5rem;
}
.header_logo{
    display: flex;
    align-items: center;
    max-height: 6.5rem;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav > a{
    margin-right: 1rem;
}
